# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
.venvs

# IDE
.DS_Store
.vim
.ipynb_checkpoints

homeworks/03-indexing/inverted_index.txt
homeworks/03-indexing/datasets/